body{
    margin: 0px;
    padding: 0px;
    background-color: #252525
  }

  .main-box{
    width: 100%;
    margin: 0 auto;
    background-image:url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.peakpx.com%2Fen%2Fhd-wallpaper-desktop-pvzre&psig=AOvVaw3g4ixeXcLCxKTZ869Rfe2o&ust=1763745950155000&source=images&cd=vfe&opi=89978449&ved=0CBUQjRxqFwoTCLjasPWfgZEDFQAAAAAdAAAAABAE');
    background-size: 100%;
  }
  
  h1{
    text-align: center;
    color: green;
  }
  
  h3{
    text-shadow: 2px 2px 10px blue;
    color: #fff;
    font-size: 25px;
    text-align: center;
  }

  #btn1{
    border: 0px;
    border-radius: 10px;
    color: #252525;
    font-weight: 800;
    box-shadow: 3px 3px 10px blue;
    margin-left: 30%;
    cursor: pointer;
    width: 40%;
    height: 40px;
    font-size: 20px;
  }

  #btn{
    border: 0px;
    border-radius: 10px;
    color: #252525;
    font-weight: 800;
    box-shadow: 3px 3px 10px blue;
    margin-left: 30%;
    cursor: pointer;
    width: 40%;
    height: 40px;
    font-size: 20px;
  }

  a{
    text-decoration: none;
  }

  .wlcm-page{
    width:100%;
  }

  .wlcm-page h1{
    padding: 10px;
    text-shadow: 2px 2px 3px #4F200D;
    text-decoration: underline;
  }


 
