body{
    margin: 0px;
    padding: 0px;
    background-color: #252525
  }

  .main-box{
    width: 100%;
    margin: 0 auto;
    background-image:url('https://w0.peakpx.com/wallpaper/398/783/HD-wallpaper-moon-light-blue-minimal-mood-moon-moonlight-night-purple-sky-starry-sky-stars.jpg');
    background-size: 100%;
  }
  
  h1{
    text-align: center;
    color: green;
  }
  
  h3{
    text-shadow: 2px 2px 10px blue;
    color: #fff;
    font-size: 25px;
    text-align: center;
  }

  #btn1{
    border: 0px;
    border-radius: 10px;
    color: #252525;
    font-weight: 800;
    box-shadow: 3px 3px 10px blue;
    margin-left: 30%;
    cursor: pointer;
    width: 40%;
    height: 40px;
    font-size: 20px;
  }

  #btn{
    border: 0px;
    border-radius: 10px;
    color: #252525;
    font-weight: 800;
    box-shadow: 3px 3px 10px blue;
    margin-left: 30%;
    cursor: pointer;
    width: 40%;
    height: 40px;
    font-size: 20px;
  }

  a{
    text-decoration: none;
  }

  .wlcm-page{
    width:100%;
  }

  .wlcm-page h1{
    padding: 10px;
    text-shadow: 2px 2px 3px #4F200D;
    text-decoration: underline;
  }


 

